.hero-section{
  width: 100%;
  background: url("/assets/images/hero-background.png") no-repeat;
  background-size: cover;
  margin: unset;

  &__copy{
    max-width: 46rem;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0 1.5rem 0;

    h1{
      color: #FFFFFF;
      font-size: 5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    p{
      color: #FFFFFF;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 168.523%;
    }
  }

  &__button{
      display: flex;
      justify-content: center;
      padding-bottom: 3rem;

    button{
      padding: .8rem 1rem;
      border-radius: 1rem;
      border: 2px solid #FFF;
      color: #FFFFFF;
      opacity: 50;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      background: transparent;
    }
  }
}
