<section class="news-section">
  <div class="news-section__wrapper">
    <h2>Newest reads</h2>
    <div class="article-wrapper">
      <div class="article-wrapper__card">
        <div class="article-wrapper__card--image">
          <img src="./assets/images/card-image.svg" alt="card-image">
        </div>
        <h6>5, August, 2023</h6>
        <p>France seeks to protect
          Russia's Morozov collection
          from seizure as masterpieces return home</p>
        <div class="article-wrapper__card--read"><p>Read more</p> <img src="/assets/images/read-more.svg" alt="read-icon"></div>
      </div>

    </div>
  </div>
</section>
